* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 15px
}

#input-el {
    width: 100%;
    margin-bottom: 10px;
    height: 45px;
    font-size: 16px;
    padding: 10px;
}

#input-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: green;
    border: 0px;
    cursor: pointer;
}


.openbox-el {
    background: gray;
    padding: 30px;
    margin: 10px;
}